
.carousel .carousel-item{

height:400px;
width:400px;
}



.carousel .carousel-slider .carousel-item{

height:400px;
width:400px;
}

.carousel .carousel-item>img{

height:400px;

}





.carousel{

padding:20px;
}